# Ignore vendor directory
back/vendor/

# Ignore temporary Dockerfiles and scripts (if not needed)
back/backend-Dockerfile.txt
back/Dockerfile_ok.txt
back/config.sh*

# Ignore temporary text files
back/main.txt
back/main2.txt
back/main_ok.txt
back/main_new.txt
back/main3.txt
*.txt
back/udo journalctl -xeu kubelet
back/udo journalctl -xeu kubelet
back/.config.sh.swp