
.divmxauto_1_divmxauto {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	display: flex;
	flex-direction: column;
	padding-top: 105.21px;
	padding-right: 53.44px;
	padding-bottom: 106.88px;
	padding-left: 53.44px;
	box-sizing: border-box;
}