
.Frame_2_Frame {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.Frame_2_Frame .divpage {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 0.75px;
	width: 1440px;
	height: 4028.25px;
	display: flex;
	flex-direction: column;
	padding-top: 33px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Nav {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 1440px;
	height: 48px;
	display: flex;
	padding-right: 264px;
	padding-left: 264px;
	box-sizing: border-box;
	background: rgba(255,255,255,1.00);
}
.Frame_2_Frame .divpage .Nav .divflex {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 100%;
	height: 48px;
	display: flex;
	padding-right: 0.00002288818359375px;
	box-sizing: border-box;
	justify-content: space-between;
}
.Frame_2_Frame .divpage .Nav .divflex .divflex_1 {
	position: relative;
	flex: none;
	align-self: stretch;
	display: flex;
	padding-right: 0.007518768310546875px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Nav .divflex .divflex_1 .divflex_2 {
	position: relative;
	flex: none;
	margin-right: 18px;
	align-self: stretch;
	display: flex;
	padding-top: 6px;
	padding-bottom: 6px;
	box-sizing: border-box;
	align-items: center;
}
.Frame_2_Frame .divpage .Nav .divflex .divflex_1 .divflex_2 .Linku05sslpwv1g621uqocxupng {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 100%;
	height: 36px;
	object-fit: cover;
	overflow: hidden;
}
.Frame_2_Frame .divpage .Nav .divflex .divflex_1 .divhidden {
	position: relative;
	flex: none;
	margin-right: 18px;
	align-self: stretch;
	display: flex;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Nav .divflex .divflex_1 .divhidden .Link {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	align-self: stretch;
	display: flex;
	padding-top: 17.25px;
	padding-right: 2.3174972534179688px;
	padding-bottom: 15.75px;
	padding-left: 3px;
	box-sizing: border-box;
	align-items: center;
}
.Frame_2_Frame .divpage .Nav .divflex .divflex_1 .divhidden .Link .WhatsTrending {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 81.75px;
	height: 15px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Space Grotesk;
	font-size: 10.5px;
	font-weight: 500;
	line-height: 15px;
}
.Frame_2_Frame .divpage .Nav .divflex .divflex_1 .divhidden .Linkmargin {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	align-self: stretch;
	display: flex;
	padding-top: 17.25px;
	padding-right: 2.6924972534179688px;
	padding-bottom: 15.75px;
	padding-left: 27px;
	box-sizing: border-box;
	align-items: center;
}
.Frame_2_Frame .divpage .Nav .divflex .divflex_1 .divhidden .Linkmargin .LinkProducts {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 46.5px;
	height: 15px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Space Grotesk;
	font-size: 10.5px;
	font-weight: 500;
	line-height: 15px;
}
.Frame_2_Frame .divpage .Nav .divflex .divflex_1 .divhidden .Linkmargin_1 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	align-self: stretch;
	display: flex;
	padding-top: 17.25px;
	padding-right: 2.25px;
	padding-bottom: 15.75px;
	padding-left: 27px;
	box-sizing: border-box;
	align-items: center;
}
.Frame_2_Frame .divpage .Nav .divflex .divflex_1 .divhidden .Linkmargin_1 .LinkFAQ {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 19.5px;
	height: 15px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Space Grotesk;
	font-size: 10.5px;
	font-weight: 500;
	line-height: 15px;
}
.Frame_2_Frame .divpage .Nav .divflex .divhidden_1 {
	position: relative;
	flex: none;
	align-self: stretch;
}
.Frame_2_Frame .divpage .Nav .divflex .divhidden_1 .divflex_3 {
	position: absolute;
	left: 18px;
	top: 37.5%;
	transform: translate(0, -50%);
	width: 180px;
	height: 28.5px;
	display: flex;
	padding-right: 6px;
	padding-left: 6px;
	box-sizing: border-box;
	justify-content: flex-end;
	align-items: center;
}
.Frame_2_Frame .divpage .Nav .divflex .divhidden_1 .divflex_3 .divrelative {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 100%;
	height: 28.5px;
}
.Frame_2_Frame .divpage .Nav .divflex .divhidden_1 .divflex_3 .divrelative .Input {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 0px;
	width: 168px;
	height: 28.5px;
	display: flex;
	padding-top: 7.5px;
	padding-right: 20.25px;
	padding-bottom: 7.5px;
	padding-left: 30.75px;
	box-sizing: border-box;
	background: rgba(255,255,255,1.00);
	border-radius: 4.5px;
	border: 1px solid rgba(209.00000274181366,213.00000250339508,219.0000021457672,1);
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Nav .divflex .divhidden_1 .divflex_3 .divrelative .Input .divplaceholder {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 100%;
	height: 13.5px;
	display: flex;
	padding-right: 81.75px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Nav .divflex .divhidden_1 .divflex_3 .divrelative .Input .divplaceholder .Search {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 35.25px;
	height: 13.5px;
	display: flex;
	align-items: center;
	color: rgba(107,114,128,1.00);
	font-family: Space Grotesk;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 13.398000240325928px;
}
.Frame_2_Frame .divpage .Nav .divflex .divhidden_1 .divflex_3 .divrelative .SVG {
	position: absolute;
	left: 7.366071428571429%;
	top: 6.75px;
	transform: translate(-50%, 0);
	width: 15px;
	height: 15px;
	display: flex;
	padding-top: 1.50044184923172px;
	padding-right: 1.4859695434570312px;
	padding-bottom: 1.4859697222709656px;
	padding-left: 1.5px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Nav .divflex .divhidden_1 .divflex_3 .divrelative .SVG .Vector {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 80.09353637695312%;
	height: 80.09058952331543%;
}
.Frame_2_Frame .divpage .Nav .divflex .divhidden_1 .divcartbutton {
	position: absolute;
	margin-left: 264px;
	margin-right: 43.9999885559082px;
	top: 13.5px;
	width: 32.452500343322754px;
	height: 21px;
}
.Frame_2_Frame .divpage .Nav .divflex .divhidden_1 .divcartbutton .spancartIcon {
	position: absolute;
	left: 0px;
	top: 36.160714285714285%;
	transform: translate(0, -50%);
	width: 8.25px;
	height: 18.75px;
	display: flex;
	padding-bottom: 0.75px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Nav .divflex .divhidden_1 .divcartbutton .spancartIcon ._0 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 8.25px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Space Grotesk;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Frame_2_Frame .divpage .Nav .divflex .divhidden_1 .divcartbutton .SVG_1 {
	position: absolute;
	left: 50.73379804991127%;
	top: 0px;
	transform: translate(-50%, 0);
	width: 21px;
	height: 21px;
	display: flex;
	padding-top: 1.9687503576278687px;
	padding-right: 2.7340916991233826px;
	padding-bottom: 1.9687496423721313px;
	padding-left: 2.7333202958106995px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Nav .divflex .divhidden_1 .divcartbutton .SVG_1 .Vector_1 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 73.96470478602818%;
	height: 81.25%;
}
.Frame_2_Frame .divpage .Nav .divflex .divhidden_1 .LinkSVG {
	position: absolute;
	left: 71.58383081756826%;
	top: 12px;
	transform: translate(-50%, 0);
	width: 24px;
	height: 24px;
	display: flex;
	padding-top: 3.0002946853637695px;
	padding-right: 3.0004981756210327px;
	padding-bottom: 2.999988555908203px;
	padding-left: 2.9994975328445435px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Nav .divflex .divhidden_1 .LinkSVG .Vector_2 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 75.00001788139343%;
	height: 74.99881982803345%;
}
.Frame_2_Frame .divpage .Main {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 1440px;
	height: 5231.025146484375px;
}
.Frame_2_Frame .divpage .Main .divrfbfe {
	position: absolute;
	left: 38.40858459472656%;
	top: 6.400043551659158%;
	transform: translate(-50%, -50%);
	width: 1295.25px;
	height: 892.5px;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfeheaderwrapper {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 0px;
	width: 1295.25px;
	height: 163.94249725341797px;
	display: flex;
	padding-top: 39px;
	padding-bottom: 16.5px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfeheaderwrapper .divrfbfeheader {
	position: relative;
	flex: none;
	margin-right: 796.5899963378906px;
	width: 468.8475036621094px;
	height: 108.44249725341797px;
	display: flex;
	flex-direction: column;
	padding-top: 2.25px;
	padding-bottom: 1.5px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfeheaderwrapper .divrfbfeheader .div {
	position: relative;
	flex: none;
	margin-bottom: 11.692497253417969px;
	height: 81px;
	display: flex;
	flex-direction: column;
	padding-right: 30.847503662109375px;
	padding-bottom: 6px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfeheaderwrapper .divrfbfeheader .div .SecondLifeProduct {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 110.25px;
	height: 18.75px;
	display: flex;
	align-items: center;
	color: rgba(191,72,0,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 18.75px;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfeheaderwrapper .divrfbfeheader .div .Heading1BuyiPhone14 {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 438px;
	height: 56.25px;
	display: flex;
	align-items: center;
	color: rgba(29,29,31,1.00);
	font-family: Inter;
	font-size: 52.5px;
	font-weight: 600;
	line-height: 55.880624771118164px;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfeheaderwrapper .divrfbfeheader .spanrcpricesfullprice {
	position: relative;
	flex: none;
	margin-bottom: 11.692497253417969px;
	width: 255.09750366210938px;
	height: 12px;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfeheaderwrapper .divrfbfeheader .spanrcpricesfullprice .RezaversealwaysrecommendstryingtheDEMObeforebuyingWemadeDEMOsmandatoryforallproducts {
	position: absolute;
	left: 0.75px;
	top: -3.75px;
	width: 525px;
	height: 19.5px;
	display: flex;
	align-items: center;
	color: rgba(29,29,31,1.00);
	font-family: Inter;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 19.5px;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfeheaderwrapper .divrfbfeheader .spanrcpricesfullprice .Text {
	position: absolute;
	left: 55.2974853515625px;
	top: -1.5px;
	width: 0px;
	height: 15px;
	display: flex;
	align-items: center;
	color: rgba(29,29,31,1.00);
	font-family: Inter;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 15.000224590301514px;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfeheaderwrapper .divrfbfeheaderrightsection {
	position: relative;
	flex: none;
	margin-right: 796.5899963378906px;
	width: 208.3125px;
	height: 81px;
	display: flex;
	padding-top: 3px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain {
	position: absolute;
	margin-left: 0px;
	margin-right: 47px;
	top: 147px;
	width: 1260px;
	height: 862.5px;
	display: flex;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnleft {
	position: relative;
	flex: none;
	margin-right: 45px;
	width: 969px;
	display: flex;
	padding-right: 45px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnleft .GroupiPhone14gallery {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 100%;
	height: 728.25px;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnleft .GroupiPhone14gallery .divb808d1d03a0411ee92d101aea2f07301 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 0px;
	width: 969px;
	height: 728.25px;
	display: flex;
	box-sizing: border-box;
	border-radius: 13.5px;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnleft .GroupiPhone14gallery .divb808d1d03a0411ee92d101aea2f07301 .TabpanelItem1 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 100%;
	display: flex;
	padding-top: 30px;
	padding-bottom: 30px;
	box-sizing: border-box;
	justify-content: center;
	border-radius: 13.5px;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnleft .GroupiPhone14gallery .divb808d1d03a0411ee92d101aea2f07301 .TabpanelItem1 .divrfbfegalleryimagewrapper {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 969px;
	height: 668.25px;
	border-radius: 13.5px;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnleft .GroupiPhone14gallery .divb808d1d03a0411ee92d101aea2f07301 .TabpanelItem1 .divrfbfegalleryimagewrapper .iphone14modelunselectgallery1202209 {
	position: absolute;
	left: 37.5%;
	top: 37.5%;
	transform: translate(-50%, -50%);
	width: 1188px;
	height: 668.25px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 13.5px;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnleft .GroupiPhone14gallery .Tablist {
	position: absolute;
	left: 37.5%;
	top: 664.5px;
	transform: translate(-50%, 0);
	width: 33px;
	height: 6px;
	display: flex;
	padding-right: 5.25px;
	padding-left: 5.25px;
	box-sizing: border-box;
	justify-content: center;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnleft .GroupiPhone14gallery .Tablist .TabItem1 {
	position: relative;
	flex: none;
	margin-right: 10.5px;
	height: 6px;
	align-self: stretch;
	background: rgba(0,0,0,0.80);
	border-radius: 3px;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnleft .GroupiPhone14gallery .Tablist .TabItem2 {
	position: relative;
	flex: none;
	margin-right: 10.5px;
	height: 6px;
	align-self: stretch;
	background: rgba(0,0,0,0.42);
	border-radius: 3px;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnleft .GroupiPhone14gallery .ButtonNext {
	position: absolute;
	right: 13.499985694885254px;
	top: 344.6400146484375px;
	width: 38.984999656677246px;
	height: 5.353244031126295%;
	background: rgba(210,210,215,0.64);
	border-radius: 39px;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnleft .GroupiPhone14gallery .ButtonNext .Icon {
	position: absolute;
	left: 14.75244140625px;
	top: 3px;
	width: 13.455000400543213px;
	height: 39.75px;
	display: flex;
	padding-top: 15.743589878082275px;
	padding-right: 4.243070840835571px;
	padding-bottom: 8.560144901275635px;
	padding-left: 9.798444722264321e-8px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnleft .GroupiPhone14gallery .ButtonNext .Icon .Vector_3 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 68.46472898905103%;
	height: 38.858528856961236%;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright {
	position: relative;
	flex: none;
	margin-right: 45px;
	width: 246px;
	display: flex;
	padding-top: 222.75px;
	padding-bottom: 155.24990844726562px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 100%;
	height: 1307.9400329589844px;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrfbfestep {
	position: absolute;
	margin-left: 0px;
	margin-right: -101px;
	top: 60.75px;
	width: 321.75px;
	height: 356.25px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrfbfestep .Fieldset {
	position: relative;
	flex: none;
	margin-bottom: 15px;
	width: 301.5px;
	height: 198.75px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrfbfestep .Fieldset .LegendHeading2 {
	position: relative;
	flex: none;
	margin-bottom: 20.25px;
	height: 21.75px;
	display: flex;
	padding-right: 6.097503662109375px;
	padding-bottom: 0.75px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrfbfestep .Fieldset .LegendHeading2 .QuickOverview {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 198px;
	height: 21px;
	display: flex;
	align-items: center;
	color: rgba(29,29,31,1.00);
	font-family: Inter;
	font-size: 24px;
	font-weight: 600;
	line-height: 21.00007438659668px;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrfbfestep .Fieldset .divrcdimensionselectorgroup {
	position: relative;
	flex: none;
	margin-bottom: 20.25px;
	width: 301.5px;
	height: 156.75px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrfbfestep .Fieldset .divrcdimensionselectorgroup .Label {
	position: relative;
	flex: none;
	margin-bottom: 10.507495880126953px;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 12px;
	padding-right: 12.0150146484375px;
	padding-bottom: 11.992504119873047px;
	padding-left: 12px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(255,255,255,0.80);
	border-radius: 9px;
	border: 1px solid rgba(134.00000721216202,134.00000721216202,139.0000069141388,1);
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrfbfestep .Fieldset .divrcdimensionselectorgroup .Label .spanrow {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 267px;
	height: 48px;
	display: flex;
	padding-left: 5.25px;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrfbfestep .Fieldset .divrcdimensionselectorgroup .Label .spanrow .spancolumn {
	position: relative;
	flex: none;
	width: 133.20000457763672px;
	height: 40.49249839782715px;
	display: flex;
	flex-direction: column;
	padding-right: 6.652496337890625px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrfbfestep .Fieldset .divrcdimensionselectorgroup .Label .spanrow .spancolumn .Permissions {
	position: relative;
	flex: none;
	margin-bottom: 2.992499828338623px;
	width: 130.5px;
	height: 25.5px;
	display: flex;
	align-items: center;
	color: rgba(29,29,31,1.00);
	font-family: Inter;
	font-size: 22.5px;
	font-weight: 600;
	line-height: 25.5px;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrfbfestep .Fieldset .divrcdimensionselectorgroup .Label .spanrow .spancolumn .spanformlabelsmall {
	position: relative;
	flex: none;
	margin-bottom: 2.992499828338623px;
	height: 12px;
	display: flex;
	padding-right: 58.477500915527344px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrfbfestep .Fieldset .divrcdimensionselectorgroup .Label .spanrow .spancolumn .spanformlabelsmall .CopyOnly {
	position: relative;
	flex: none;
	margin-right: 0.5625px;
	width: 54.75px;
	height: 12px;
	display: flex;
	align-items: center;
	color: rgba(29,29,31,1.00);
	font-family: Inter;
	font-size: 11.25px;
	font-weight: 400;
	line-height: 12.000300407409668px;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrfbfestep .Fieldset .divrcdimensionselectorgroup .Label_1 {
	position: relative;
	flex: none;
	margin-bottom: 10.507495880126953px;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 12px;
	padding-right: 12.0150146484375px;
	padding-bottom: 12px;
	padding-left: 12px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(255,255,255,0.80);
	border-radius: 9px;
	border: 1px solid rgba(134.00000721216202,134.00000721216202,139.0000069141388,1);
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrfbfestep .Fieldset .divrcdimensionselectorgroup .Label_1 .spanrow_1 {
	position: relative;
	flex: none;
	margin-bottom: NaNpx;
	width: 257.25px;
	height: 49.5px;
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrfbfestep .Fieldset .divrcdimensionselectorgroup .Label_1 .spanrow_1 .spancolumn_1 {
	position: relative;
	flex: none;
	width: 133.20000457763672px;
	height: 54px;
	display: flex;
	flex-direction: column;
	padding-right: 6.652496337890625px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrfbfestep .Fieldset .divrcdimensionselectorgroup .Label_1 .spanrow_1 .spancolumn_1 .BloggerRewardAvailable {
	position: relative;
	flex: none;
	margin-bottom: 2.984999656677246px;
	width: 270px;
	height: 25.5px;
	display: flex;
	align-items: center;
	color: rgba(29,29,31,1.00);
	font-family: Inter;
	font-size: 22.5px;
	font-weight: 600;
	line-height: 25.500823974609375px;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrfbfestep .Fieldset .divrcdimensionselectorgroup .Label_1 .spanrow_1 .spancolumn_1 .spanformlabelsmall_1 {
	position: relative;
	flex: none;
	margin-bottom: 2.984999656677246px;
	height: 12px;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrfbfestep .Fieldset .divrcdimensionselectorgroup .Label_1 .spanrow_1 .spancolumn_1 .spanformlabelsmall_1 .Thecreatorallowsyoutoreceivea2bloggerpaymentbackuponblogsubmission {
	position: absolute;
	left: -0.18017578125px;
	top: -7.05853271484375px;
	width: 253.5px;
	height: 36px;
	display: flex;
	align-items: center;
	color: rgba(29,29,31,1.00);
	font-family: Inter;
	font-size: 11.25px;
	font-weight: 400;
	line-height: 12.000300407409668px;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrfbfestep .Fieldset .divrcdimensionselectorgroup .Label_1 .spanrow_1 .spancolumn_1 .spanformlabelsmall_1 .Superscript1 {
	position: absolute;
	left: 65.96246337890625px;
	top: 0.30743408203125px;
	width: 3px;
	height: 7.5px;
	display: flex;
	align-items: center;
	color: rgba(29,29,31,1.00);
	font-family: Inter;
	font-size: 5.3999998569488525px;
	font-weight: 400;
	line-height: 7.200194835662842px;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrfbfestep .Button {
	position: relative;
	flex: none;
	margin-bottom: 15px;
	width: 15.15000057220459px;
	height: 10.5px;
	display: flex;
	padding-right: 7.152557373046875e-7px;
	padding-left: 3.1499998569488525px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrfbfestep .Button .Icon_1 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 12px;
	height: 10.5px;
	display: flex;
	padding-top: 1.0079960525035858px;
	padding-right: 1.5486858487129211px;
	padding-left: 1.622708474258161e-7px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrfbfestep .Button .Icon_1 .Vector_4 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 87.09428310394287%;
	height: 99.53632354736328%;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrfbfestep .divrcdecisionsection {
	position: relative;
	flex: none;
	margin-bottom: 15px;
	width: 301.5px;
	height: 117px;
	background: rgba(100,10,43,1.00);
	border-radius: 11.25px;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrfbfestep .divrcdecisionsection .Howtopurchase {
	position: absolute;
	left: 23.25px;
	top: 24px;
	width: 193.5px;
	height: 30px;
	display: flex;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 22.5px;
	font-weight: 600;
	line-height: 15.000224590301514px;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrfbfestep .divrcdecisionsection .divrcdecisionsectiondesc {
	position: absolute;
	left: 23.25px;
	top: 45.75px;
	width: 272.25px;
	height: 58.5px;
	display: flex;
	padding-right: 36px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrfbfestep .divrcdecisionsection .divrcdecisionsectiondesc .SimplyaddtocardcheckoutanduseourHUDtopayinSecondLifeIfyoudonthaveourHUDyetyoucanpurchaseithere {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 226.5px;
	height: 58.5px;
	display: flex;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 11.25px;
	font-weight: 400;
	line-height: 19.500600814819336px;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrfbfestep .divrcdecisionsection .Button_1 {
	position: absolute;
	left: 63.22762112119305%;
	top: 27.40384615384615%;
	transform: translate(-50%, -50%);
	width: 15.15000057220459px;
	height: 10.5px;
	display: flex;
	padding-right: 7.152557373046875e-7px;
	padding-left: 3.1499998569488525px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrfbfestep .divrcdecisionsection .Button_1 .Icon_2 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 12px;
	height: 10.5px;
	display: flex;
	padding-top: 1.0079960525035858px;
	padding-right: 1.5486858487129211px;
	padding-left: 1.622708474258161e-7px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrfbfestep .divrcdecisionsection .Button_1 .Icon_2 .Vector_5 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 87.09428310394287%;
	height: 99.53632354736328%;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrfbfestep_1 {
	position: absolute;
	margin-left: -353px;
	margin-right: -132px;
	top: 724.5px;
	width: 609.75px;
	height: 749.25px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrcdecisionsection_1 {
	position: absolute;
	left: 0px;
	top: 428.11614990234375px;
	width: 301.5px;
	height: 55.5px;
	background: rgba(245,245,245,1.00);
	border-radius: 11.25px;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrcdecisionsection_1 .ViewBlogsCorner {
	position: absolute;
	left: 0px;
	top: 16.5px;
	width: 226.5px;
	height: 15px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 22.5px;
	font-weight: 600;
	line-height: 15.000224590301514px;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrcdecisionsection_1 .Button_2 {
	position: absolute;
	left: 63.22762112119305%;
	top: 16.216216216216218%;
	transform: translate(-50%, -50%);
	width: 15.15000057220459px;
	height: 10.5px;
	display: flex;
	padding-right: 7.152557373046875e-7px;
	padding-left: 3.1499998569488525px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrcdecisionsection_1 .Button_2 .Icon_3 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 12px;
	height: 10.5px;
	display: flex;
	padding-top: 1.0079960525035858px;
	padding-right: 1.5486858487129211px;
	padding-left: 1.622708474258161e-7px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .divrfbfecolumnright .divrfbfeselectionarea .divrcdecisionsection_1 .Button_2 .Icon_3 .Vector_6 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 87.09428310394287%;
	height: 99.53632354736328%;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfemain .Rectangle3 {
	position: relative;
	flex: none;
	margin-right: 45px;
	width: 361.5px;
	height: 185.25px;
	background: rgba(217,217,217,1.00);
	border-radius: 33px;
}
.Frame_2_Frame .divpage .Main .divrfbfe .divrfbfestep_2 {
	position: absolute;
	left: 37.52171395483497%;
	top: 1888.1400146484375px;
	transform: translate(-50%, 0);
	width: 1080px;
	height: 140.25px;
}
.Frame_2_Frame .divpage .Main .Rectangle3_1 {
	position: absolute;
	left: 854.81982421875px;
	top: 1184.3838500976562px;
	width: 465.75px;
	height: 195.75px;
	background: rgba(245,245,245,1.00);
	border-radius: 33px;
}
.Frame_2_Frame .divpage .Main .Heading2Button {
	position: absolute;
	left: 923.06982421875px;
	top: 1152.1338500976562px;
	width: 735px;
	height: 86.25px;
}
.Frame_2_Frame .divpage .Main .Heading2Button .spanrcaccordiontitle {
	position: absolute;
	margin-left: -44px;
	margin-right: 490px;
	top: 84.99230426290761%;
	transform: translate(0, -50%);
	width: 400.5px;
	height: 108.75px;
	display: flex;
	padding-top: 6px;
	padding-right: 411px;
	padding-bottom: 5.25px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .Heading2Button .spanrcaccordiontitle .FrequentlyAskedQuestionsQuestionAnswer {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 300px;
	height: 108px;
	display: flex;
	align-items: center;
	color: rgba(29,29,31,1.00);
	font-family: Inter;
	font-size: 21.75px;
	font-weight: 600;
	line-height: 27px;
}
.Frame_2_Frame .divpage .Main .Heading2Button .spanrcaccordiontitle .Vector_7 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 49.411766052246094px;
	height: 49.411766052246094px;
}
.Frame_2_Frame .divpage .Main .Heading2Button .spanrcaccordiontitle .Vector_8 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 18.352941513061523px;
	height: 9.303528785705566px;
}
.Frame_2_Frame .divpage .Main .divddlplate {
	position: absolute;
	left: 37.5%;
	top: 2669.0249633789062px;
	transform: translate(-50%, 0);
	width: 735px;
	height: 1575px;
}
.Frame_2_Frame .divpage .Main .div_1 {
	position: absolute;
	margin-left: 1470.759765625px;
	margin-right: -382.759765625px;
	top: 60.13385009765625px;
	width: 624px;
	height: 336.1275100708008px;
	display: flex;
	flex-direction: column;
	padding-bottom: 7.492515563964844px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .div_1 .div_2 {
	position: relative;
	flex: none;
	margin-bottom: 7.5px;
	width: 624px;
	height: 204.88499450683594px;
	display: flex;
	flex-direction: column;
	padding-top: 59.25px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .div_1 .div_2 .Heading5Box {
	position: relative;
	flex: none;
	margin-bottom: 35.85000228881836px;
	width: 352.5px;
	height: 39.75px;
	display: flex;
	align-items: center;
	color: rgba(100,10,43,1.00);
	font-family: Inter;
	font-size: 45px;
	font-weight: 700;
	line-height: 39.59999942779541px;
}
.Frame_2_Frame .divpage .Main .div_1 .div_2 .divtextwhite {
	position: relative;
	flex: none;
	margin-bottom: 35.85000228881836px;
	height: 70.03500366210938px;
	display: flex;
	flex-direction: column;
	padding-right: 514.5px;
	padding-bottom: 0.1425018310546875px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .div_1 .div_2 .divtextwhite .Heading5 {
	position: relative;
	flex: none;
	margin-bottom: -0.6075010299682617px;
	width: 70.5px;
	height: 40.5px;
	display: flex;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .div_1 .div_2 .divtextwhite .Heading5 .L100 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 70.5px;
	height: 40.5px;
	display: flex;
	align-items: center;
	color: rgba(150,142,110,1.00);
	font-family: Space Grotesk;
	font-size: 24px;
	font-weight: 400;
	line-height: 23.40000057220459px;
}
.Frame_2_Frame .divpage .Main .div_1 .div_2 .divtextwhite .byStoreName {
	position: relative;
	flex: none;
	margin-bottom: -0.6075010299682617px;
	width: 171px;
	height: 30px;
	display: flex;
	align-items: center;
	color: rgba(100,10,43,1.00);
	font-family: Inter;
	font-size: 24px;
	font-weight: 700;
	line-height: 29.77500057220459px;
}
.Frame_2_Frame .divpage .Main .div_1 .div_3 {
	position: relative;
	flex: none;
	margin-bottom: 7.5px;
	height: 84.75px;
	display: flex;
	flex-direction: column;
	padding-top: 12px;
	padding-right: 504px;
	padding-bottom: 12px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .div_1 .div_3 .Button_3 {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 120px;
	height: 23.25px;
	display: flex;
	padding-top: 6px;
	padding-right: 14.527500629425049px;
	padding-bottom: 7.5px;
	padding-left: 14.722499370574951px;
	box-sizing: border-box;
	background: rgba(255,241,184,1.00);
	border-radius: 4.5px;
	border: 1px solid rgba(17.00000088661909,24.000000469386578,39.00000147521496,1);
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .div_1 .div_3 .Button_3 .AddtoCart {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 66.75px;
	height: 12px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
}
.Frame_2_Frame .divpage .Main .div_1 .div_3 .Button_4 {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 120px;
	height: 25.5px;
	display: flex;
	padding-top: 6px;
	padding-right: 13.65000057220459px;
	padding-bottom: 7.5px;
	padding-left: 13.34999942779541px;
	box-sizing: border-box;
	background: rgba(255,241,184,1.00);
	border-radius: 4.5px;
	border: 1px solid rgba(17.00000088661909,24.000000469386578,39.00000147521496,1);
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .div_1 .div_3 .Button_4 .Getademonow {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 93.75px;
	height: 12px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 12px;
	font-weight: 500;
	line-height: 12px;
}
.Frame_2_Frame .divpage .Main .div_1 .divrelative_1 {
	position: relative;
	flex: none;
	margin-bottom: 7.5px;
	height: 24px;
}
.Frame_2_Frame .divpage .Main .div_1 .divrelative_1 .divwfull {
	position: absolute;
	margin-left: 0px;
	margin-right: 383.5px;
	top: 100.35953521728516%;
	transform: translate(0, -50%);
	width: 336.375px;
	height: 0px;
}
.Frame_2_Frame .divpage .Main .divrelative_2 {
	position: absolute;
	left: 382.31982421875px;
	top: 1047.1338500976562px;
	width: 624px;
	height: 156px;
}
.Frame_2_Frame .divpage .Main .divrelative_2 .divwfull_1 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 40.26920612041767%;
	transform: translate(0, -50%);
	width: 624px;
	height: 12.75px;
	border: 1px solid rgba(209.00000274181366,213.00000250339508,219.0000021457672,1);
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .Heading2WhatsintheBox {
	position: absolute;
	left: 161.81982421875px;
	top: 1013.3838500976562px;
	width: 1134px;
	height: 140.25px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(29,29,31,1.00);
	font-family: Poppins;
	font-size: 52.5px;
	font-weight: 500;
	line-height: 150px;
}
.Frame_2_Frame .divpage .Main .Rectangle3_2 {
	position: absolute;
	left: 89.65914916992188px;
	top: 876.3456115722656px;
	width: 977.25px;
	height: 155.25px;
}
.Frame_2_Frame .divpage .Main ._64a6cdff000962bbfb4a9ccb_sc1p500jpg {
	position: absolute;
	margin-left: 508.759765625px;
	margin-right: 1194.240234375px;
	top: 13.613488370985928%;
	transform: translate(0, -50%);
	width: 162.75px;
	height: 148.5px;
	object-fit: cover;
	overflow: hidden;
}
.Frame_2_Frame .divpage .Main ._64a6cdff000962bbfb4a9ccb_sc1p500jpg_1 {
	position: absolute;
	margin-left: 787.759765625px;
	margin-right: 915.240234375px;
	top: 13.613488370985928%;
	transform: translate(0, -50%);
	width: 162.75px;
	height: 148.5px;
	object-fit: cover;
	overflow: hidden;
}
.Frame_2_Frame .divpage .Main ._64a6cdff000962bbfb4a9ccb_sc1p500jpg_2 {
	position: absolute;
	margin-left: 1066.759765625px;
	margin-right: 636.240234375px;
	top: 13.624241521357956%;
	transform: translate(0, -50%);
	width: 162.75px;
	height: 148.5px;
	object-fit: cover;
	overflow: hidden;
}
.Frame_2_Frame .divpage .Main .LoremIpsumissimplydummytextoftheprintingandtypesettingindustryLoremIpsumhasbeentheindustrysstandarddummytexteversincethe1500swhenanunknownprintertookagalleyoftypeandscrambledittomakeatypespecimenbookIthassurvivednotonlyfivecenturiesbutalsotheleapintoelectronictypesettingremainingessentiallyunchangedItwaspopularisedinthe1960swiththereleaseofLetrasetsheetscontainingLoremIpsumpassagesandmorerecentlywithdesktoppublishingsoftwarelikeAldusPageMakerincludingversionsofLoremIpsum {
	position: absolute;
	left: 161.81982421875px;
	top: 1191.1338500976562px;
	width: 693px;
	height: 441.75px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Space Grotesk;
	font-size: 24px;
	font-weight: 500;
	line-height: 40.125px;
}
.Frame_2_Frame .divpage .Main ._64a6cdff000962bbfb4a9ccb_sc1p500jpg_3 {
	position: absolute;
	margin-left: 237.759765625px;
	margin-right: 1465.240234375px;
	top: 13.613488370985928%;
	transform: translate(0, -50%);
	width: 162.75px;
	height: 148.5px;
	object-fit: cover;
	overflow: hidden;
}
.Frame_2_Frame .divpage .Main .div_4 {
	position: absolute;
	left: 182.25px;
	top: 4308px;
	width: 600px;
	height: 168.75px;
	display: flex;
	box-sizing: border-box;
	align-items: flex-end;
}
.Frame_2_Frame .divpage .Main .div_4 .divgrid {
	position: relative;
	flex: none;
	margin-right: 24px;
	width: 600px;
	height: 168.75px;
	display: flex;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .div_4 .divgrid .div_5 {
	position: relative;
	flex: none;
	margin-right: 24px;
	width: 100%;
	display: flex;
	box-sizing: border-box;
	align-items: flex-end;
}
.Frame_2_Frame .divpage .Main .div_4 .divgrid .div_5 .divw48 {
	position: relative;
	flex: none;
	margin-right: 12px;
	width: 100%;
	display: flex;
	padding-bottom: 63.5474967956543px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .div_4 .divgrid .div_5 .divw48 .meldr3lnpz9ozurmlhsbpng {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 100%;
	height: 84px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 3px;
}
.Frame_2_Frame .divpage .Main .div_4 .divgrid .div_5 .div_6 {
	position: relative;
	flex: none;
	margin-right: 12px;
	width: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .div_4 .divgrid .div_5 .div_6 .Heading3Support {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 48px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(79,34,54,1.00);
	font-family: Space Grotesk;
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
}
.Frame_2_Frame .divpage .Main .div_4 .divgrid .div_5 .div_6 .List {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	height: 138.75px;
	display: flex;
	flex-direction: column;
	padding-right: 42px;
	padding-bottom: 0.75px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .div_4 .divgrid .div_5 .div_6 .List .ItemLinkStatus {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 39px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Space Grotesk;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Frame_2_Frame .divpage .Main .div_4 .divgrid .div_5 .div_6 .List .ItemLinkDocumentation {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 90px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Space Grotesk;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Frame_2_Frame .divpage .Main .div_4 .divgrid .div_5 .div_6 .List .ItemLinkGuides {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 39.75px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Space Grotesk;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Frame_2_Frame .divpage .Main .div_4 .divgrid .div_5 .div_6 .List .ItemLinkAPIStatus {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 60px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Space Grotesk;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Frame_2_Frame .divpage .Main .div_4 .divgrid .div_5 .div_6 .List .ItemLinkSupport {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 89.25px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Space Grotesk;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Frame_2_Frame .divpage .Main .div_4 .divgrid .div_7 {
	position: relative;
	flex: none;
	margin-right: 24px;
	width: 100%;
	display: flex;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .div_4 .divgrid .div_7 .div_8 {
	position: relative;
	flex: none;
	margin-right: 24px;
	width: 132px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .div_4 .divgrid .div_7 .div_8 .Heading3Company {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 54.75px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(79,34,54,1.00);
	font-family: Space Grotesk;
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
}
.Frame_2_Frame .divpage .Main .div_4 .divgrid .div_7 .div_8 .List_1 {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 132px;
	height: 138.75px;
	display: flex;
	flex-direction: column;
	padding-right: 82.5px;
	padding-bottom: 0.75px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .div_4 .divgrid .div_7 .div_8 .List_1 .ItemLinkAbout {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 36px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Space Grotesk;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Frame_2_Frame .divpage .Main .div_4 .divgrid .div_7 .div_8 .List_1 .ItemLinkBlog {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 26.25px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Space Grotesk;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Frame_2_Frame .divpage .Main .div_4 .divgrid .div_7 .div_8 .List_1 .ItemLinkJobs {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 28.5px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Space Grotesk;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Frame_2_Frame .divpage .Main .div_4 .divgrid .div_7 .div_8 .List_1 .ItemLinkPress {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 31.5px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Space Grotesk;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Frame_2_Frame .divpage .Main .div_4 .divgrid .div_7 .div_8 .List_1 .ItemLinkPartners {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 49.5px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Space Grotesk;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Frame_2_Frame .divpage .Main .div_4 .divgrid .div_7 .divmt12 {
	position: relative;
	flex: none;
	margin-right: 24px;
	width: 132px;
	height: 168.75px;
	display: flex;
	flex-direction: column;
	padding-bottom: 60px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .div_4 .divgrid .div_7 .divmt12 .Heading3Legal {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 31.5px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(79,34,54,1.00);
	font-family: Space Grotesk;
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
}
.Frame_2_Frame .divpage .Main .div_4 .divgrid .div_7 .divmt12 .List_2 {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 132px;
	height: 78.75px;
	display: flex;
	flex-direction: column;
	padding-right: 89.25px;
	padding-bottom: 0.75px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .div_4 .divgrid .div_7 .divmt12 .List_2 .ItemLinkClaim {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 31.5px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Space Grotesk;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Frame_2_Frame .divpage .Main .div_4 .divgrid .div_7 .divmt12 .List_2 .ItemLinkPrivacy {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 42.75px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Space Grotesk;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Frame_2_Frame .divpage .Main .div_4 .divgrid .div_7 .divmt12 .List_2 .ItemLinkTerms {
	position: relative;
	flex: none;
	margin-bottom: 12px;
	width: 34.5px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Space Grotesk;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.Frame_2_Frame .divpage .Main .divmt8 {
	position: absolute;
	left: 182.25px;
	top: 4500.75px;
	width: 243.75px;
	height: 42.75px;
	display: flex;
	padding-top: 24px;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: flex-end;
	border: 1px solid rgba(229.00000154972076,231.00000143051147,235.0000011920929,1);
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .divmt8 .pmt8 {
	position: relative;
	flex: none;
	width: 243.75px;
	height: 18.75px;
	display: flex;
	padding-bottom: 0.75px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .divmt8 .pmt8 ._2023EnraptureSRLAllrightsreserved {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 243.75px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(79,34,54,1.00);
	font-family: Space Grotesk;
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
}
.Frame_2_Frame .divpage .Main .Heading3Subscribetoournewsletter {
	position: absolute;
	left: 987.75px;
	top: 4308px;
	width: 161.25px;
	height: 18px;
	display: flex;
	align-items: center;
	color: rgba(79,34,54,1.00);
	font-family: Space Grotesk;
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
}
.Frame_2_Frame .divpage .Main .pmt4 {
	position: absolute;
	margin-left: 1317px;
	margin-right: 219px;
	top: 4338.75px;
	width: 288px;
	height: 30px;
	display: flex;
	padding-right: 19.5px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .pmt4 .Thelatestnewsarticlesandresourcessenttoyourinboxweekly {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 268.5px;
	height: 30px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Space Grotesk;
	font-size: 10.5px;
	font-weight: 400;
	line-height: 15px;
}
.Frame_2_Frame .divpage .Main .Form {
	position: absolute;
	margin-left: 1317px;
	margin-right: 219px;
	top: 4380.75px;
	width: 288px;
	height: 31.5px;
	display: flex;
	padding-right: 0.000011444091796875px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .Form .Input_1 {
	position: relative;
	flex: none;
	margin-right: 9px;
	width: 195.26998901367188px;
	height: 31.5px;
	display: flex;
	padding-top: 7.5px;
	padding-right: 12.749988555908203px;
	padding-bottom: 8.25px;
	padding-left: 12.75px;
	box-sizing: border-box;
	background: rgba(255,255,255,1.00);
	border-radius: 4.5px;
	border: 1px solid rgba(209.00000274181366,213.00000250339508,219.0000021457672,1);
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .Form .Input_1 .divplaceholder_1 {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 100%;
	height: 15.75px;
	display: flex;
	padding-top: 0.75px;
	padding-right: 75.27000045776367px;
	box-sizing: border-box;
}
.Frame_2_Frame .divpage .Main .Form .Input_1 .divplaceholder_1 .Enteryouremail {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 94.5px;
	height: 15px;
	display: flex;
	align-items: center;
	color: rgba(107,114,128,1.00);
	font-family: Space Grotesk;
	font-size: 12px;
	font-weight: 400;
	line-height: 15.312000274658203px;
}
.Frame_2_Frame .divpage .Main .Form .Button_5 {
	position: relative;
	flex: none;
	margin-right: 9px;
	width: 83.72999954223633px;
	height: 31.5px;
	display: flex;
	padding-top: 6px;
	padding-right: 13.229999542236328px;
	padding-bottom: 7.5px;
	padding-left: 12px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(255,229,143,1.00);
	border-radius: 4.5px;
}
.Frame_2_Frame .divpage .Main .Form .Button_5 .Subscribe {
	position: relative;
	flex: none;
	margin-right: NaNpx;
	width: 58.5px;
	height: 18px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Space Grotesk;
	font-size: 12px;
	font-weight: 500;
	line-height: 18px;
}